{{ partial "docheader.html" . }}

<main id="main">

	<div class="container">

		<div class="row topspace">
			<div class="col-sm-3 js-toc"></div>
			<div class="col-sm-9 js-toc-content">
 				<article class="post">
					<header class="entry-header">
						 <h1 class="entry-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h1>
					</header>
					<div class="entry-content">
						{{ if hasPrefix .File.BaseFileName "r" }}
							<div>You are reading the documentation for the {{ .Params.version }} release click <a href="..">here</a> to go to the documentation for the current release.</div>
						{{ end }}
						{{ if eq .Params.version "snapshot" }}
							<div>You are reading the documentation for latest development snapshot click <a href="..">here</a> to go to the documentation for the current release.</div>
						{{ end }}
						<!-- <div w3-include-html="http://amdatu-repo.s3.amazonaws.com/{{ .Params.project }}/{{ .Params.version }}/docs/index.html" class="{{ .Params.project }}"></div>   -->
						<div w3-include-html="https://repository.amdatu.org/{{ .Params.project }}/{{ .Params.version }}/docs/index.html" class="{{ .Params.project }}"></div>  
					</div>
				</article>
			</div> 
		</div> <!-- /row post  -->

        <div class="row">
			<div class="col-sm-8 col-sm-offset-2">

				<div id="share">
                    {{ if .Params.Share }}
                       {{ partial "sharethis.html" . }}
                    {{ end }}
				</div>
			</div>
		</div> <!-- /row share -->
		<div class="clearfix"></div>

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">

				<div id="comments">
                    {{ if .Params.Comments }}
                       {{ partial "disqus.html" . }}
                    {{ end }}
				</div>
			</div>
		</div> <!-- /row comments -->
		<div class="clearfix"></div>

	</div>	<!-- /container -->
	<script>
		document.addEventListener("DOMContentLoaded", function(event) { 
			includeHTML();
		});		
	</script>
	
</main>

{{ partial "footer.html" . }}
