<footer id="footer">
	
		
		<div class="row">
			{{ if .Site.Params.footerEnableContact }}
			<div class="col-md-4 widget">
				<h5>Contact</h5>
				<div class="widget-body">
					{{ .Site.Params.phone }}
						<a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
				</div>
				<br>
			</div>
			{{ end }}

			{{ if .Site.Params.footerEnableFollowme }}
			<div class="col-md-4 widget">
				
				<h5>Follow me</h5>
				<div class="widget-body">
					<p class="follow-me-icons follow-me-icon-box">
				{{ range .Site.Params.social }}
					{{ if .footer }}
						<a href="{{ .url }}" target="_blank"><i class="fa {{ .icon }}"></i></a>
					{{ end }}
				{{ end }}
				</p>
				</div>
				<br>
			</div>
			{{ end }}

			<div class="col-md-4 widget">
				<div class="widget-body">
					<h5>Copyright</h5>
					<p>&copy; {{ .Site.Params.year }},
					{{ .Site.Params.name }} and <a href="https://luminis.eu" rel="designer">Luminis</a></p>
					
				</div>
			</div>

		</div> <!-- /row of widgets -->
		

</footer>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}js/template.js"></script>
<!--script id="dsq-count-scr" src="https://{{ .Site.Params.disqus.site }}/count.js" async></script-->
{{ partial "analyticstracking.html" . }}
</body>
</html>
