<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ .Site.Params.Description }}">
	<meta name="author"      content="Amdatu Foundation (based on Hugo-initio)">

	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Organization",
		"legalName" : "{{ .Site.Params.name }}",
		"description" : "{{ .Site.Params.description }}",
		"url": "{{ .Site.BaseURL }}",
		"logo": "{{ .Site.BaseURL }}{{ .Site.Params.favicon }}",
		"contactPoint" : [{
			"@type" : "ContactPoint",
			"email" : "{{ .Site.Params.email }}",
			"contactType" : "More information"
		}],
		"sameAs" : [
			{{ range .Site.Params.social }}
			"{{ .url }}",
			{{ end }}
			"{{ .Site.Params.parentURL }}"
		]
	}
	</script>

	<title>{{ .Title }}</title>

	<link rel="shortcut icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}">

	<!-- Bootstrap -->
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<!-- Custom styles -->
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">

	<!--[if lt IE 9]> <script src="js/html5shiv.js"></script> <![endif]-->

    {{ if .Site.Params.customsharethis }}
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=custom-share-buttons"></script>
    {{ else }}
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=inline-share-buttons"></script>
    {{ end }}

</head>
<body class="home">

<header id="header">
	<div id="head" class="parallax" parallax-speed="2">
		<h1 id="logo" class="text-center">
			<img class="img-circle" src="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}" alt="">
		</h1>
	</div>

    {{ partial "menu.html" . }}

</header>
