{{ partial "header.html" . }}


<main id="main">

	<div class="container">
		<div class="row topspace">
			<div class="col-sm-8 col-sm-offset-2">
				<article class="post">
					<header class="entry-header">
						<h2>Amdatu news<h2>
					</header>
                	{{ range (where .Data.Pages "Section" "News") }}
				
					<h4>{{ .Title }}</h4>
					<div class="entry-meta">
						<span class="posted-on"><time class="entry-date published" date="{{ .Date }}">{{ dateFormat .Site.Params.DateForm .Date }}</time></span>
					</div>
					
					<div class="entry-content">
						{{ .Content }}
					</div>
				</article>
                {{ end }}

			</div>
		</div>

		<center class="">
			<ul class="pagination">
                {{ template "_internal/pagination.html" . }}
			</ul>
		</center>


	</div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}
