{{ $project := $.Scratch.Get "project" }}
{{ $version := $.Scratch.Get "version" }}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ .Site.Params.Description }}">
	<meta name="author"      content="Amdatu Foundation (based on Hugo-initio)">

	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Organization",
		"legalName" : "{{ .Site.Params.name }}",
		"description" : "{{ .Site.Params.description }}",
		"url": "{{ .Site.BaseURL }}",
		"logo": "{{ .Site.BaseURL }}{{ .Site.Params.favicon }}",
		"contactPoint" : [{
			"@type" : "ContactPoint",
			"email" : "{{ .Site.Params.email }}",
			"contactType" : "More information"
		}],
		"sameAs" : [
			{{ range .Site.Params.social }}
			"{{ .url }}",
			{{ end }}
			"{{ .Site.Params.parentURL }}"
		]
	}
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.1.1/tocbot.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>

 <script type="application/javascript"> 

		function initToc() {
			tocbot.init({
				// Where to render the table of contents.
				tocSelector: '.js-toc',
				collapseDepth: 2,
				smoothScroll: false,
				// Where to grab the headings to build the table of contents.
				contentSelector: '.js-toc-content',
				// Which headings to grab inside of the contentSelector element.
				headingSelector: 'h2, h3, h4',
				onClick: function(e) {
					history.replaceState(null,null, e.target.hash);
				}
			});
		}

		function initClipboard() {
			var pre = document.getElementsByTagName('pre');
			for (var i = 0; i < pre.length; i++) {
				var b = document.createElement('button');
				b.className = 'clipboard';
				b.innerHTML = 'Copy <i class="fa fa-paste"></i>';
				if (pre[i].childNodes.length === 1 && pre[i].childNodes[0].nodeType === 3) {
					var div = document.createElement('div');
					div.textContent = pre[i].textContent;
					pre[i].textContent = '';
					pre[i].appendChild(div);
				}
				pre[i].appendChild(b);
			}
			var clipboard = new ClipboardJS('.clipboard', {
				target: function(b) {
					var p = b.parentNode;
					return ("" + p.className).includes("highlight")
						? p.getElementsByTagName("code")[0]
						: p.childNodes[0];
				}
			});

			clipboard.on('success', function(e) {
				e.clearSelection();
				e.trigger.innerHTML = 'Copied <i class="fa fa-check"></i>';
				setTimeout(function() {
					e.trigger.innerHTML = 'Copy <i class="fa fa-paste"></i>';
				}, 2000);
			});

			clipboard.on('error', function(e) {
				console.error('Failed to copy to clipboard', e.action);
			});
		}

		function includeHTML() {
			var z, i, elmnt, file, xhttp;
			/*loop through a collection of all HTML elements:*/
			z = document.getElementsByTagName("*");
			for (i = 0; i < z.length; i++) {
				elmnt = z[i];
				/*search for elements with a certain atrribute:*/
				file = elmnt.getAttribute("w3-include-html");
				if (file) {
				/*make an HTTP request using the attribute value as the file name:*/
				xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4) {
						if (this.status == 200) {
							var parser = new DOMParser();
							var doc = parser.parseFromString(this.responseText, "text/html");
							
							// Remove the toc generated by asciidoctor 
							var toc = doc.getElementById("toc");
							toc.parentNode.removeChild(toc);

							// re-write href and src atributes to point to the original location
							var allElements = doc.getElementsByTagName("*");
							for (j = 0; j < allElements.length; j++) {
								var element = allElements[j];
								var href = element.getAttribute("href");
								if (href && !href.startsWith("http") && !href.startsWith("#")) {
									element.href = "https://repository.amdatu.org/{{ $project }}/{{ $version }}/docs/" + href;
								} 
								var src = element.getAttribute("src");
								if (src  && !src.startsWith("http")) {
									element.src = "https://repository.amdatu.org/{{ $project }}/{{ $version }}/docs/" + src;
								} 
							}

							elmnt.appendChild(doc.getElementById('header'));
							elmnt.appendChild(doc.getElementById('content'));

							if (location.hash) {
								var requested_hash = location.hash.slice(1);
								location.hash = '';
								location.hash = requested_hash;
							}			
							initToc();
							initClipboard();
						}
						if (this.status == 404) {
							elmnt.innerHTML = "Page not found.";
						}
					}
				}      
				xhttp.open("GET", file, true);
				xhttp.send();
				/*exit the function:*/
				return;
				}
			}	
		};
	</script>

	<title>{{ .Title }}</title>

	<link rel="shortcut icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}">

	<!-- Bootstrap -->
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<!-- Tocbot -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.1.1/tocbot.css">
	<!-- Custom styles -->
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/amdatu.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/coderay.css">
	
	<!--[if lt IE 9]> <script src="js/html5shiv.js"></script> <![endif]-->

    {{ if .Site.Params.customsharethis }}
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=custom-share-buttons"></script>
    {{ else }}
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=inline-share-buttons"></script>
    {{ end }}

</head>
<body class="home">

<header id="header">
	<div id="head" class="parallax" parallax-speed="2">
		<h1 id="logo" class="text-center">
			<img class="img-circle" src="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}" alt="">
		</h1>
	</div>

    {{ partial "menu.html" . }}

</header>
