<div class="row section topspace">
    <div class="col-sm-8 col-sm-offset-2">
        <p class="lead text-center text-muted">
          It’s hard to read through a book on the principles of magic without glancing at the cover periodically to make sure it isn’t a book on software design.
—Bruce Tognazzini.
        </p>
        <p>
            Welcome to Amdatu! Amdatu is an open source project, which is aimed at offering an infrastructure for the development of scalable and
            resilient Cloud applications using dynamic modular services architectures. It is designed for distributed systems ranging from Cloud integration solutions up
            to massive IoT deployments. Read more on Amdatu <a href="about">here</a>.
        </p>
        <h2>Latest news</h2>
        {{ range first 2 (where .Data.Pages "Section" "News") }}
            <p><strong>{{ dateFormat .Site.Params.DateForm .Date }} - {{ .Title }}</strong></p>
            <p>{{ .Content }}</p>
        {{ end }}
    </div>
</div> <!-- / section -->
